<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

{% if request.session.username %}
<p>
    welcome: {{ request.session.username }}
</p>
<p>
    <a href="/user/login_out">login out</a>
</p>
<p>
    <a href="/note/list">enter my note</a>
</p>
{% else %}
    {% if request.COOKIES.username %}
        <p>
            welcome: {{ request.COOKIES.username }}
        </p>
        <p>
            <a href="/user/login_out">login out</a>
        </p>
        <p>
            <a href="/note/list">enter my note</a>
        </p>
    {% else %}
        <p>
            <a href="/user/login">login</a>
        </p>
        <p>
            <a href="/user/reg">register</a>
        </p>
    {% endif %}
{% endif %}

</body>
</html>