<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list_view</title>
</head>
<body>
<p>
    {{ session.username }}'s note
    <a href = '/note/add note'>add note</a>
    <a href = '/index'>return index</a>
</p>
<br>
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>created_time</th>
        <th>updated_time</th>
        <th>update delete</th>
    </tr>
    {%  for note in notes %}
    <tr>
        <th>{{ note.id }}</th>
        <th>{{ note.title }}</th>
        <th>{{ note.created_time }}</th>
        <th>{{ note.updated_time }}</th>
        <th>
            <a href="">update</a>
            <a href="">delete</a>
        </th>
    </tr>
    {% endfor %}
</table>


</body>
</html>